@font-face {
    font-family: 'Li Ullash RRR Unicode';
    src: url('LiUllashRRRUnicode.woff2') format('woff2'),
        url('LiUllashRRRUnicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

